/*
COLOR PALETTE

Dark Teal: #156D66
Light Teal: #00A89D
Light Gray: #8498A3

*/

/* CUSTOM STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    color: #5a5a5a;
}

section {
    padding: 40px 0 60px 0;
}

p {
    padding: 10px 0px;
}

h1, h2, h3 {
    text-transform: uppercase;
}

/* Horizontal Lines On Headings */
.h-lines {
    display: inline-block;
    padding: 0 15px;
    position: relative;
}

.h-lines:before, .h-lines:after {
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 10vw;
}
.h-lines:before {
    right: 100%;
}
.h-lines:after {
    left: 100%;
}

/* Heading Line Colors */
.hl-1:before, .hl-1:after { background: #8498A3; }
.hl-2:before, .hl-2:after { background: #156D66; }
.hl-3:before, .hl-3:after { background: #fff; }

.shadow-text  {
    -moz-text-shadow: 1px 1px 0px #fff, 1px 2px 1px #333;
    -ms-text-shadow: 1px 1px 0px #fff, 1px 2px 1px #333;
    -o-text-shadow: 1px 1px 0px #fff, 1px 2px 1px #333;
    text-shadow: 1px 1px 0px #fff, 1px 2px 1px #333;
}

.h-gray {
    color: #8498A3;
}

.bg-light-gray {
    background-color: #f7f7f7;
}

.bg-dark-teal {
    background-color: #156D66;
    color: #fff;
}
.bg-dark-teal h2, .bg-dark-teal h3,
.bg-dark-teal h4, .bg-dark-teal h5 {
    color:white;
}

.get-connected > .col-sm-4 {
    padding-top: 30px;
    padding-bottom: 20px;
}

.get-connected .fa {
    color: #8498a3  ;
    padding-bottom: 10px;
}

.get-connected h5 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.0rem;
    color: #333;
}

.btn-success, .btn-success:hover {
    color: #fff;
}

.podcast-play {
    height: 40px;
}

.btn .fa {
    padding-right: 6px;
}
.btn-desktop {
    display: inline-block;
}
.btn-mobile {
    display: none;
}

.icon-box.boxed {
    border: 1px solid #dcdcdc;
    background: #fff;
    -webkit-box-shadow: 0 5px 12px rgba(0, 0, 0, 0.06);
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.06);
    padding: 20px;
    margin-top: 20px;
}

#new .icon-box {
    height: 300px;
}

#getconnected .equal-height {
    height: 280px;
    margin-top: 20px;
}

#new .icon-box .btn, #getconnected .equal-height .btn {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 30%;
    right: 30%;
    bottom: 10%;
}

.footer {
    background-color: #156D66;
    color: #333;
    text-transform: uppercase;
    font-family: "Homenaje";
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 3.4rem;
    letter-spacing: -0.1rem;
}

.footer span {
    color: #fff;
    font-size: 3.6rem;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

.navbar-wrapper {
    position: absolute;
    top: 20px;
    right: 0;
    left: 0;
    z-index: 20;
    margin: 0 10px;
}

.nav > li {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

.navbar-brand img {
    height: 290px;
    max-height: 130px;
    margin-top: -55px;
}

nav.navbar.shrink, .shrink .dropdown {
    min-height: 35px;
}

.shrink .navbar-nav > li > a {
    padding-top: 33.5px;
    padding-bottom: 33.5px;
}

nav.shrink .navbar-toggle {
    padding: 8px 8px;
    margin: 24px 15px 8px 0;
}
.shrink .navbar-brand {
    padding: 22px 10px;
    height: 90px;
}
nav.shrink .navbar-brand img {
    height: 290px;
    max-height: 70px;
    margin-top: -13px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

#myCarousel {
    width: 100%;
}

.carousel-inner .item {
    width: 100%;
    height: 550px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.first-slide {
    background:
        linear-gradient(
            rgba(255, 255, 255, 0.25),
            rgba(255, 255, 255, 0.25)
        ),
        url(../img/bryker-woods-midtown-chuch-austin-sunday-mornings.png)
        no-repeat center center;
}

.carousel-caption {
    z-index: 10;
    top: 38%;
}

.carousel-caption h2 {
    font-size: 6.0rem;
/*    font-family: "Open Sans Condensed";*/
    text-transform: none;
}

/* Using Font Awesome instead of Glyphicons */
.carousel-control .fa-chevron-left,
.carousel-control .fa-chevron-right {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    z-index: 5;
    display: inline-block;
    font-size: 24px;
}
.carousel-control .icon-prev,
.carousel-control .fa-chevron-left {
    left: 20%;
    margin-left: -10px;
}
.carousel-control .icon-next,
.carousel-control .fa-chevron-right {
    right: 20%;
    margin-right: -10px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (max-width: 1200px) {
    h4 {
        font-size: 24px;
    }
}

@media (max-width: 992px) {
    /* Navbar */
    nav.navbar, .dropdown {
        min-height: 35px;
    }
    .navbar-nav > li > a {
        font-size: 14px;
        padding-top: 38.5px;
        padding-bottom: 38.5px;
    }
    nav .navbar-brand img {
        height: 290px;
        max-height: 80px;
        margin-top: -14px;
    }
    .navbar-brand {
        padding: 22px 10px;
        height: 90px;
    }

    /* Carousel */
    .carousel-inner .item {
        height: 400px;
    }
    .carousel-caption {
        z-index: 10;
        top: 36%;
    }
    .carousel-caption h2 {
        font-size: 3.5rem;
    }
    /* /. Carousel End */

    .btn-lg, .btn-group-lg > .btn {
        padding: 8px 10px;
        font-size: 15px;
        line-height: 1.4;
    }
    .footer {
        font-size: 2.4rem;
        line-height: 2.4rem;
    }

    .footer span {
        font-size: 2.8rem;
    }
}

@media (max-width: 768px) {
    /* Navbar */
    nav .navbar-toggle, nav.shrink .navbar-toggle {
        padding: 8px 8px;
        margin: 26.5px 15px 0px 0;
    }
    .navbar-nav > li > a, .shrink .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 19px;
    }

    /* Carousel */
    .carousel-inner .item {
        height: 300px;
    }
    .carousel-caption {
        z-index: 10;
        top: 30%;
    }
    .carousel-caption h2 {
        font-size: 2.6rem;
    }
    /* /. Carousel End */

    .btn-lg, .btn-group-lg > .btn {
        padding: 4px 6px;
        font-size: 13px;
        line-height: 1.2;
    }
    .btn-desktop {
        display: none;
    }
    .btn-mobile {
        display: inline-block;
    }

    h1, h2, h3, h4, h5 {
        font-size: 2.5rem;
    }

}
